link(rel='stylesheet', href='/stylesheets/table.css')
link(rel='stylesheet', href='/stylesheets/style.css')

h1 welcome
ul
	li
		a(href='/chat/' + 'new') 새로운 채팅방 만들기
	li
		a 기존 채팅방

	table
		tr
			th(size='20') 채팅방 ID
			th(size='20') 참여자 리스트
		each val, key in rooms
			tr
				td
					a(href='/chat/' + '#{key}') #{key} 
				td #{rooms[key].userlist}
	br
	div
		a.center(href='/menu') Back
block content