title Socket.IO chat
link(rel='stylesheet', href='/stylesheets/chatRoom.css')
script(src='/socket.io/socket.io.js')
script(src='http://code.jquery.com/jquery-1.11.1.js')

input#back(type='button', value='back', action = '/')
ul#messages
form#name
	input#m(autocomplete='off')
	button Send

script.
	var room_id = !{room_id != null? JSON.stringify(room_id): 'null'};
	var user_name = !{user_name != null? JSON.stringify(user_name): 'null'};

	$(function() {
		var socket = io();
		var data = {};

		data.room_id = room_id;
		data.user_name = user_name;

		socket.emit('adduser', data);

		$('form').submit(function(){
			socket.emit('chat', $('#m').val());
			$('#m').val('');
			return false;
		});

		$('#back').on('click', () => {
			window.location.href = '/chat';
		})

		socket.on('chat', function (msg) {
			$('#messages').append($('<li>').text(msg));
		});

		socket.on('heartBeat', function () {});

		setInterval(function() {		//이게 클라이언트에서 일정 시간 반응이 없으면 소켓 연결이 
			socket.emit('heartBeat');	//끊어지기 때문에 허트비트를 해놧음. 만약 자동으로 끊어지길
		}, 30000);						//원하면 없에면됨.
	});
