title Socket.IO chat
link(rel='stylesheet', href='/stylesheets/chatRoom.css')
link(rel='stylesheet', href='/stylesheets/table.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery.min.js')

body
	h1 welcome
	ul
		li
			a(href='/chat/' + 'new') 새로운 채팅방 만들기
		li
			a(href='/chat/' + 'match') 대결하기
		if last_room_id
			li
				a(href='/chat/#{last_room_id}') 이전 방으로 돌아가기 
		li
			a 채팅방 리스트

		table#chat_list
			tr
				th(size='20') 채팅방 ID
				th(size='20') 참여자 리스트
		br
		div
			a.center(href='/menu') Back

	ul#messages
	form#name
		input#m(autocomplete='off')
		button Send

script.
	var user_name = !{user_name != null? JSON.stringify(user_name): 'null'};
	var last_room_id = !{last_room_id != null? JSON.stringify(last_room_id): 'null'};

	$(function() {
		var socket = io();
		var data = {};

		data.user_name = user_name;

		socket.emit('lobby', data);

		$('form').submit(function(){
			socket.emit('lobbyChat', $('#m').val());
			$('#m').val('');
			return false;
		});

		//- $('#back').on('click', () => {
		//- 	window.location.href = '/menu';
		//- })

		socket.on('lobbyChat', function (msg) {
			$('#messages').append($('<li>').text(msg));
		});

		//- setInterval(function () {		//이게 클라이언트에서 일정 시간 반응이 없으면 소켓 연결이 
		//- 	socket.emit('heartBeat');	//끊어지기 때문에 허트비트를 해놧음. 만약 자동으로 끊어지길
		//- }, 30000);						//원하면 없에면됨. 맞겠지? 안해도 안 끊어진다 ㄷㄷ

		initList();
		setInterval(initList, 20000);	//채팅방 리스트 다이나믹하게 초기화해줌^^
	});

	function initList() {
		$.ajax({
			url: '/chat',
			type: 'POST',
			success: function (resultData) {
				rooms = resultData.rooms;
				$('#removable').remove();

				for (let key in rooms) {
					if (rooms[key].userlist.length == 2) { //채팅방 인원 2명 꽉 참.
						$('#chat_list').append($('<tr id="removable" class="disabled"><td><a href="/chat/' + key + '">'
						+ key + '</td><td>' + rooms[key].userlist + '</td></tr>'));
					}
					else {
						$('#chat_list').append($('<tr id="removable"><td><a href="/chat/' + key + '">'
						+ key + '</td><td>' + rooms[key].userlist + '</td></tr>'));
					}
				}
			}
		});
	}