title Socket.IO chat
link(rel='stylesheet', href='/stylesheets/chatRoom.css')
link(rel='stylesheet', href='/stylesheets/table.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery.min.js')

body
	h1 welcome
	ul
		li
			a(href='/chat/' + 'new') 새로운 채팅방 만들기
		li
			a(href='/chat/' + 'match') 대결하기 
		div#last_room
		li
			a 채팅방 리스트

		table#chat_list
			tr
				th(size='20') 채팅방 ID
				th(size='20') 참여자 리스트
		br
		div
			a.center(href='/menu') Back

	ul#messages
	form#name
		input#m(autocomplete='off')
		button Send

script.
	const
		STANDBY = 100,
		READY = 200,
		PLAY = 300,
		FINISH = 400;

	var user_name = !{user_name != null? JSON.stringify(user_name): 'null'};
	var last_room_id = !{last_room_id != null? JSON.stringify(last_room_id): 'null'};

	$(function() {
		var socket = io();
		var data = {};

		data.user_name = user_name;

		socket.emit('lobby', data);

		$('form').submit(function () {
			socket.emit('lobbyChat', $('#m').val());
			$('#m').val('');
			return;
		});

		socket.on('lobbyChat', function (msg) {
			$('#messages').append($('<li>').text(msg));
		});

		initList();
		setInterval(initList, 20000);	//채팅방 리스트 다이나믹하게 초기화해줌^^
	});

	function initList () {
		$.ajax({
			url: '/chat',
			type: 'POST',
			success: function (resultData) {
				rooms = resultData.rooms;
				last_room_id = resultData.last_room_id;

				$('.removable').remove();

				if (last_room_id && rooms[last_room_id]) //내 마지막 방번호가 있음. rooms에 그 방이 남아있음.(서버에서도 막음)
					$('#last_room').append($('<li class="removable"><a href="/chat/' + last_room_id + '?isResume=true"> 이전 방으로 돌아가기</li>'));

				for (let key in rooms) {
					if (rooms[key].userlist.length >= 2) { //채팅방 인원 2명 꽉 참. (서버에서도 막음)
						$('#chat_list').append($('<tr class="removable disabled"><td><a href="/chat/' + key + '">'
						+ key + '</td><td>' + rooms[key].userlist + '</td></tr>'));
					}
					else {
						$('#chat_list').append($('<tr class="removable"><td><a href="/chat/' + key + '">'
						+ key + '</td><td>' + rooms[key].userlist + '</td></tr>'));
					}
				}
			}
		});
	}