extends layout

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    if success
        div#success #{success}
        br
    table
        form(method='POST' action='/addInfo')
            tr
                td Key :
                td Value :
            tr
                td
                    input#input_key(type='text', name='input_key', size='20')
                td
                    input#input_value(type='text', name='input_value', size='20')
            tr
                td(colspan='2')
                    button#btnAdd(type='submit') Add Information
            tr
                td.center(colspan='2')
                    a(href='/') Back
