title Socket.IO chat
style.
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }

ul#messages
form#name(action='', value='#{user_name}')
    input#m(autocomplete='off')
    button Send

script(src='/socket.io/socket.io.js')
script(src='http://code.jquery.com/jquery-1.11.1.js')
script.
    $(function() {
        var socket = io();
        var user_name = $('#name').attr('value');

        console.log('user_name', user_name);

        socket.emit('adduser', user_name);

        $('form').submit(function(){
            socket.emit('chat', $('#m').val());
            $('#m').val('');
            return false;
        });

        socket.on('chat', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });
    });

    function getUserName() {
        console.log('getUserName');
        var name;
        $.ajax({
            url: '/chat/user',
            type: 'GET',
            success: function(resultData) {
                console.log('resultData', resultData);
                name = resultData.user_name
            }
        });
        console.log('name plz', name);
        return name;
    }
