extends layout

block content
	head
		title Sample Pages

	body
		h1 Sample Pages
		div#info Choose Your Option
		ul
			li
				a(href='/signUp') Sign Up
			li
				a(href='/login') Login
			li
				a(href='/findPw') Find Password
