extends layout

block content
	head
		title Sample Login Page
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 Sample Login Page
		div#info Login
		table
			tr
				td Email
				td
					input#email(type='email', size='20')
			tr
				td Password
				td
					input#password(type='password', size='20')
			tr
				td(colspan='2')
					button#login-button(type='submit') Login
			tr
				td.center(colspan='2')
					a(href='/') Back